.navbar-sticky--custom {
  background-color: var(--navbar-background);

  & a {
    color: var(--text-color);
    transition: all 0.2s;
    text-transform: uppercase;
    &:hover, &:focus {
      color: var(--text-hover-color);
    }
  }

  & .brand--custom {
    font-weight: 800;
    color: var(--logo-text-color);
    margin-left: 20px;
    font-size: 2em;
    background-color: var(--logo-background-color);
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'bakbak One', sans-serif;

    &:hover, &:focus {
      color: var(--logo-text-color);
    }
  }
}
.link.nav-link {
  font-weight: 700 !important;
  letter-spacing: 3px;
  &:hover {
    text-decoration: underline 4px;
  }
}
.menu-dots--custom:focus {
  outline-style: none !important;
  box-shadow: none;
}

