{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="row comptabilite">
        <div class="col-12  col-md-6 offset-md-3">
            {{ form_start(devis_form) }}
            {{ form_end(devis_form) }}
        </div>
    </div>

{% endblock %}

