.articles--title {
  font-weight: 900;
  margin: 20px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--text-color);
}
.articles--container {
  .articles--article-link {
    color:inherit;
    text-decoration: none;
  }
  .articles--article-short-container {
    .articles--article-short-title {
      border-bottom: 2px solid var(--text-color);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 3px;
      font-size: 1.2em;
      margin: 0 0 5px 0;
      color: var(--text-color);
    }
    .articles--article-short-date {
      color: var(--short-color-commentaire);
      font-size: 0.7em;
    }
    .articles--article-short-tags-container {
      display: flex;
      align-items: center;
    }
    .articles--article-short-tag {
      background-color: var(--bg-color);
      border-radius: 5px;
      padding: 1px 5px;
      margin: 0 5px 0 0;
      font-size: 0.7em;
    }
    .articles--article-short-content {
      text-align: justify;
      color: var(--text-color);
    }
    .articles--article-short-commentaires {
      background-color: var(--short-color-commentaire) !important;
    }
  }
}

.article-alone--container {
  color: var(--text-color);
  .article-alone--title {
    text-align: center;
  }
  .article-alone--content {
    text-align: justify;
    &:first-letter {
      font-weight: 700;
      font-size: 2em;
    }
  }
  .article-alone-tags-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
  }
  .article-alone--tag {
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: 1px 5px;
    margin: 0 5px 0 0;
  }
  .article-alone--author {
    font-size: 0.9em;
    text-align: right;
    .article-alone--author-btn {
      background-color: inherit;
      border: none;
    }
  }
  .article-alone--date {
    font-size: 0.7em;
    color: var(----short-color-commentaire);
    text-align: right;
  }
  .article-alone--count-commentaires {
    color: var(--text-commentaire);
    background-color: var(--background-commentaire);
    margin-left: 10px;
  }
}
.article--hr-comment {
  margin: 50px 0 20px 0;
  border-width: 2px;
  border-color: var(--text-color) !important;
}
