.article--commentaires-container {
  margin-top: 40px;
  padding: 0 12px;
  .article--commentaire-alone-container {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(4,4,4, 0.05);
    border-radius: 10px;
    .article--commentaire-alone-header {
      font-size: 12px;
      font-style: italic;
      margin-bottom: 10px;
      .article--commentaire-alone-author {
        text-align: left;
      }
      .article--commentaire-alone-date {
        text-align: right;
      }
    }
    .article--commentaire-alone-body {
      text-align: justify;
    }
  }
}
.article-alone--form-commentaire-container {
  .article-alone--form-commentaire-username-container {
    .article-alone--form-commentaire-username-label {

    }
    .article-alone--form-commentaire-username-input {
      .field--text {
        border: 1px solid #cfcfcf;
        border-radius: 5px;
        width: 100%;
        padding: 5px 5px 5px 10px;
      }
      :focus-visible {
        outline-color: rgba(0, 0, 0, 0.6) !important;
      }
    }
  }
  .article-alone--form-commentaire-content-container {
    margin-top: 20px;
    .article-alone--form-commentaire-content-label {

    }

    .article-alone--form-commentaire-content-input {
      .field--text-area {
        border: 1px solid #cfcfcf;
        border-radius: 5px;
        width: 100%;
        height: 100px;
        padding: 5px 5px 5px 10px;
        resize: none;
      }
      :focus-visible {
        outline-color: rgba(0, 0, 0, 0.6) !important;
      }
    }
  }
  .article-alone--form-commentaire-submit {
    text-align: right;
    .field--submit {
      background: #000 !important;
      color: white;
      font-weight: 700;
      border: 1px solid #000;
      transition: all 0.3s;
      &:hover {
        background: #222 !important;
      }
      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.4);;
      }
    }
  }

}
