.features--title {
  font-weight: 900;
  margin: 20px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--text-color);
}
.features--container {
  color: var(--text-color);
  padding: 10px;
  margin-top: 20px ;
  .feature--alone-container {
    margin-bottom: 50px;
    .feature--alone-title {
      border-bottom: 2px solid var(--text-color);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 3px;
      font-size: 1.2em;
    }
    .feature--alone-description {
      text-align: justify;
    }
    .feature--alone-link {
      text-decoration: none;
      color: inherit;
    }
  }
  .feature--alone-footer {
    padding-top: 5px;
    text-align: right;
    .feature--alone-link-to-more {
      text-decoration: none;
      color: inherit;
      &:hover {
        border-bottom: 1px solid var(--text-color);
      }
    }
  }
}
.feature--page {
  color: var(--text-color);
  .feature--page-title {
    text-transform: uppercase;
    text-align: right;
    h1 {
      font-size: 1.5em !important;
      font-weight: 700;
    }
  }
  .feature--page-body {
    margin-top: 40px;
    text-align: justify;
    &:first-letter {
      font-weight: 700;
      font-size: 2em;
    }
    .feature--page-example-label {
      margin: 10px 0;
      text-decoration: underline;
      text-align: right;
      font-weight: 600;
    }
  }
}
.input-custom {
  width: 40%;
  margin: 30px 30%;
}
.article_search--container {
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.markdown-preview {
  padding: 20px 30px;
  max-width: 100%;
  word-break: break-all;
}
.bg-disabled {
  background-color: var(--background-disabled);
  border-radius: 10px;
}
