
@font-face {
  font-family: 'barlow';
  font-weight: 100;
  src: url('/assets/fonts/Barlow-Thin.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 100;
  font-style: italic;
  src: url('/assets/fonts/Barlow-ThinItalic.ttf');
}@font-face {
  font-family: 'barlow';
  font-weight: 200;
  src: url('/assets/fonts/Barlow-ExtraLight.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 200;
  font-style: italic;
  src: url('/assets/fonts/Barlow-ExtraLightItalic.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 300;
  src: url('/assets/fonts/Barlow-Light.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 300;
  font-style: italic;
  src: url('/assets/fonts/Barlow-LightItalic.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 400;
  src: url('/assets/fonts/Barlow-Regular.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/fonts/Barlow-Italic.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 500;
  src: url('/assets/fonts/Barlow-Medium.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 500;
  font-style: italic;
  src: url('/assets/fonts/Barlow-MediumItalic.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 600;
  src: url('/assets/fonts/Barlow-SemiBold.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 600;
  font-style: italic;
  src: url('/assets/fonts/Barlow-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 700;
  src: url('/assets/fonts/Barlow-Bold.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/fonts/Barlow-BoldItalic.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 800;
  src: url('/assets/fonts/Barlow-ExtraBold.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 800;
  font-style: italic;
  src: url('/assets/fonts/Barlow-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 900;
  src: url('/assets/fonts/Barlow-Black.ttf');
}
@font-face {
  font-family: 'barlow';
  font-weight: 900;
  font-style: italic;
  src: url('/assets/fonts/Barlow-BlackItalic.ttf');
}
@font-face {
  font-family: 'bakbak One';
  font-weight: 500;
  src: url('/assets/fonts/BakbakOne-Regular.ttf');
}

//----------------------//
//------- global -------//
//----------------------//


@for $i from 0 through 40 {
  .m-#{$i} {
    margin: #{$i}#{"px"} !important;
  }
}

@for $i from 0 through 40 {
  .m-t-#{$i} {
    margin-top: #{$i}#{"px"} !important;
  }
}

@for $i from 0 through 40 {
  .m-r-#{$i} {
    margin-right: #{$i}#{"px"} !important;
  }
}

@for $i from 0 through 40 {
  .m-b-#{$i} {
    margin-bottom: #{$i}#{"px"} !important;
  }
}

@for $i from 0 through 40 {
  .m-l-#{$i} {
    margin-left: #{$i}#{"px"} !important;
  }
}

@for $i from 0 through 40 {
  .p-#{$i} {
    padding: #{$i}#{"px"} !important;
  }
}

@for $i from 0 through 40 {
  .p-t-#{$i} {
    padding-top: #{$i}#{"px"} !important;
  }
}

@for $i from 0 through 40 {
  .p-r-#{$i} {
    padding-right: #{$i}#{"px"} !important;
  }
}

@for $i from 0 through 40 {
  .p-b-#{$i} {
    padding-bottom: #{$i}#{"px"} !important;
  }
}

@for $i from 0 through 40 {
  .p-l-#{$i} {
    padding-left: #{$i}#{"px"} !important;
  }
}

[data-theme="light"] {
  --text-color: black;
  --text-hover-color: #222;
  --background-commentaire: rgba(0,0,0,0.5);
  --text-commentaire: #FFF;
  --short-color-commentaire: dimgrey;
  --background-color: #fbfbfb;
  --navbar-background: rgba(251, 251,251, 0.8);
  --logo-text-color: #fbfbfb;
  --logo-background-color: black;
  --login-background: linear-gradient(145deg, #e2e2e2, #ffffff);
  --login-shadow-1: #d5d5d5;
  --login-shadow-2: #ffffff;
  --article-alone-background-color: rgba(4,4,4, 0.05);
  --border-field-input: #cfcfcf;
  --border-field-outline: rgba(0, 0, 0, 0.6);
  --box-shadow-field: 0 0 0 0.25rem rgba(0, 0, 0, 0.4);
  --background-disabled: #f5f5f;
}
[data-theme="dark"] {
  --text-color: White;
  --text-hover-color: #dddddd;
  --background-commentaire: rgba(255, 255, 255, 0.5);
  --text-commentaire: #000;
  --short-color-commentaire: #969696;
  --background-color: #040404;
  --navbar-background: rgba(4, 4, 4, 0.8);
  --logo-text-color: #040404;
  --logo-background-color: white;
  --login-background: linear-gradient(145deg, #1d1d1d, #000000);
  --login-shadow-1: #2a2a2a;
  --login-shadow-2: #000000;
  --article-alone-background-color: rgba(251, 251, 251, 0.05);
  --border-field-input: #303030;
  --border-field-outline: rgba(255, 255, 255, 0.6);
  --box-shadow-field: 0 0 0 0.25rem rgba(255, 255, 255, 0.4);
  --background-disabled: #0a0a0a;
}
* {
  font-family: 'barlow', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

body {
  background-color: var(--background-color);
}

.font-weight-bold {
  font-weight: bold;
}

.bionic-reading-bold {
  font-weight: bold;
}
.no-resize {
  resize: none;
}
.text-right {
  text-align: right !important;
}

.basic-color {
  color: var(--text-color);
}
.no-border {
  border: none;
}
.bold {
  font-weight: 600;
}
.extra-bold {
  font-weight: 900;
}
