.login--form-margin-top {
  margin-top: 25vh;
}

.login--container {
  padding: 50px 40px;
  border-radius: 50px;
  color: var(--text-color);
  background: var(--login-background);
  box-shadow:  34px 34px 77px var(--login-shadow-1),
              -34px -34px 77px var(--login-shadow-2);
}
