.login--form-margin-top {
  margin-top: 25vh;
}

.login--container {
  padding: 35px 20px;
  background-color: #563D7C;
  border-radius: 10px;
  color: #fbfbfb;
}
.login--logo-border-circle
{
  border-radius: 10px;
  border: 1px solid #fbfbfb;
}
