<div class="row">
    <div class="col-12">
        <h1 class="features--title">{{ 'feature.title_plurialized'|trans }}</h1>
    </div>
</div>
{% for feature in this.features.features %}
    <div class="features--container">
        {{ component('feature', {
            titre       : feature.titre,
            description : feature.shortDescription,
            path        : feature.urlToFeature
        }) }}
    </div>
{% endfor %}
